p {
    text-align: center;
}

.text1 {
    font-size: var(--font-size-logo);
    color: var(--midnight);
    letter-spacing: 1px;
    padding-top: 10%;
    padding-bottom: 3px;
}

.info {
    margin-top: 20px;
}

.text2 {
    font-size: var(--font-size-menu);
    color: var(--kepel);
    letter-spacing: 1px;
    padding-top: 10px;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 210px;
    margin-top: 18px;
}

.social {
    width: 60px;
    height: 60px;
}



