.card-form {
    margin-top: 10%;
    align-self: center;
    width: 500px;
    max-height: 100%;
    background-color: var(--white);
    border-color: var(--midnight);
    border-width: 1px;
    border-style: solid;
}

h1 {
    background-color: var(--midnight);
    padding: 1%;
    color: var(--white);
}

.horizontal-align {
    text-align: center;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: var(--kepel-glassy);
}

.form-container {
    margin: 20px;
}

p {
    padding-bottom: 4%;
}

a {
    text-decoration: none;
    color: var(--kepel);
    font-weight: 600;
}

a:hover {
    color: var(--midnight);
}

.error {
    align-self: center;
    position: absolute;
    margin-top: 7%;
    color: red;
    font-size: 26px;
}