img {
    float: right;
}

.style-container {
    display: flex;
    width: 100%;
}

.style-img {
    object-fit: cover;
    width: 50vw;
    flex-shrink: 0;
}

.half {
    width: 50vw;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stilitanti {
    font-size: var(--font-size-stilitanti);
    color: var(--midnight);
    display: flex;
    justify-content: center;
    font-style: italic;
    cursor: pointer;
}
