img {
    float: right;
}

.style-container {
    display: flex;
    width: 100%;
}

.style-img {
    object-fit: cover;
    width: 50vw;
    flex-shrink: 0;
}

.half {
    width: 50vw;
    flex-shrink: 0;
}

.stilitanti {
    font-size: var(--font-size-stilitanti);
    color: var(--black);
    text-align: center;
    margin: 23%;
    font-style: italic;
}

