*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--white: #fefcfb;
	--midnight: #225560;
	--black: #090909;
	--kepel: #2EBFA5;
	--kepel-glassy: rgba(46, 191, 165, 0.1);
	--black-glassy: rgba(0, 0, 0, 0.7);
	--icterine: #EDF060;
	--spanish: #767522;
	--grey: #c0c0c0;
	--font-size-regular: 15px;
	--font-size-large: 18px;
	--font-size-add: 20px;
	--font-size-menu: 25px;
	--font-size-logo: 40px;
	--font-size-stilitanti: 60px;


}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.content {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.extra {
	background-color: var(--midnight);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1%;
	color: var(--white);
}

p {
    font-size: var(--font-size-large);
	margin: auto;
}

button {
    font-size: var(--font-size-regular);
	font-weight: 700;
    padding: 5px;
	height: 40px;
	width: 130px;
	border-radius: 20px;
	border-style: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor:pointer;
	color: var(--midnight);
}

a {
	text-decoration: none;
	color: var(--midnight);
}

.space {
	margin-inline: 10px;
}

.nav-menu {
	color: var(--white);
	display: flex;
	background-color: var(--kepel);
    height: 90px;
	align-items: center;
	color: var(--white);
}

ul {
	list-style: none;
	margin: 0 auto;
	display: flex;
}

li{
	display: inline;
	font-size: var(--font-size-menu);
	margin-right: 20px;	
	cursor:pointer;
}

li:hover {
	color: var(--black);
}

.logo {
	font-size: var(--font-size-logo);
	text-decoration: none;
	color: var(--white);
	margin-left: 3%;
	font-style: italic;
	cursor: pointer;
}

a:hover {
	color: var(--black);
}

#footer {
	background-color: #225560;
	height: 50px;
	display: flex;
	color: var(--white);
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	bottom: 0;
}