.textabout {
    text-align: justify;
}

.about {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.style-img {
    position: absolute;
    width: 100%;
}

.salsaimg {
    top: -260px;
}

.kizombaimg {
    top: -301px;
}

.bachataimg {
    top: -376px;
}

.textblock {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-glassy);
    color: var(--white);
    text-align: center;
    padding: 7%;
}

.zagolovok {
    font-size: var(--font-size-logo);
}

.textabout {
    font-size: var(--font-size-menu);
}

.addnew {
    width: 300px;
    height: 50px;
    cursor: pointer;
    display: flex;
    margin: auto;
    flex-direction: column;
    font-size: var(--font-size-regular);  
    padding-top: 15px;
    margin-top: 1%;
    border-radius: 20px;
    letter-spacing: 1px;
}
